html{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(223, 223, 223);
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}

.content{
    width: 800px;
    height: 402px;
    background-image: url(../images/bg-repeat.jpg);
    background-repeat: repeat;
    background-position: center;
    display: flex;
}

.titulo-descricao{
    width: 300px;
    height: 111px;
    margin: 145px 50px;
    color: #ffffff;
}

.titulo-descricao h1{
    font-size: 1.25rem;
}

.titulo-descricao p{
    margin-top: 11px;
    font-size: 0.938rem;
    font-weight: 400;

}

#form{
    background-color: white;
    width: 340px;
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

#form .aviso{
    align-self: flex-start;
    margin-left: 15px;
    font-size: 0.7rem;
    margin-top: 15px;
}

input{
    width: 298px;
    height: 35px;      
    border-radius: 5px;
    margin-top: 15px;
               
}
textarea{
    width: 298px;
    height: 80px;
    border-radius: 5px;
    margin-bottom: -15px;
    margin-top: 15px;
}

#btn-enviar{
    width: 298px;
    height: 41px;
    background-color: #3ccc87;
    border-radius: 5px;
    border: 0px;
    color: white;
    font-weight: 700;
    font-size: 0.938rem;
    cursor: pointer;
    margin-top: 15px;
}

#btn-enviar:hover{
    background-color: #8de9bc;
}

input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(179, 176, 176);

}
textarea::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(179, 176, 176);
}

.erro{
    color: red;
    font-size: 0.6rem;
    margin-left: -200px;
}

.dados {
  border: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease;
}

.dados.valido {
  border-color: green;
}

.invalido {
  border-color: red;
  background-color: #ffe6e6;
}